In [1]:
a=input("Enter a number:")
print(a, type(a))

Enter a number:12
12 <class 'str'>

In [2]:
a=input("Enter a number:")
print(a, type(a))

Enter a number:12.34
12.34 <class 'str'>

In [3]:
a=input("Enter a number:")
print(a, type(a))

Enter a number:[10,20,30,4]
[10,20,30,4] <class 'str'>

In [4]:
a=input("Enter a number:")
print(a, type(a))

Enter a number:(1,2,3)
(1,2,3) <class 'str'>

In [5]:
a=input("enter a value:")
b=input("Enter a value:")
print(a+b)

enter a value:10
Enter a value:20
1020

In [6]:
"10"+"20"

'1020'

In [7]:
a=float(input("enter a value:"))
b=float(input("Enter a value:"))
print(a+b)

enter a value:12
Enter a value:34
46.0

In [8]:
a=float(input("enter a value:"))
b=float(input("Enter a value:"))
print(a+b)

enter a value:12.34
Enter a value:45.67
58.010000000000005

In [10]:
decimal("12.34")

NameError: name 'decimal' is not defined

In [14]:
d1=12.34
d2=45.67
print(d1+d2)

58.010000000000005

In [15]:
d1=12.34
d2=45.67
print("%.2f"%(d1+d2))

58.01