In [1]:
print("HI")# end="\n"
print("HELLO")

HI
HELLO

In [3]:
print("HI","HELLO")#sep=" "

HI HELLO

In [4]:
print("HI",end=" ")
print("HELLO")

HI HELLO

In [5]:
print("HI","HELLO",sep="%")#sep=" "

HI%HELLO

In [6]:
print("asflkdj dskjf\nsdjflkdsjfdsjfl")

asflkdj dskjf
sdjflkdsjfdsjfl

In [7]:
print("MENU\n1.add\n2.sub\n3.mul\n4.div")

MENU
1.add
2.sub
3.mul
4.div

In [8]:
print("MENU\n    1.add\n    2.sub\n    3.mul\n    4.div")

MENU
    1.add
    2.sub
    3.mul
    4.div

In [9]:
print("MENU\n\t1.add\n\t2.sub\n\t3.mul\n\t4.div")

MENU
	1.add
	2.sub
	3.mul
	4.div

In [10]:
len("sb")

2

In [11]:
len("\n")

1

In [12]:
len("\t")

1

In [13]:
print("\\n")

\n

In [14]:
print(r"MENU\n\t1.add\n\t2.sub\n\t3.mul\n\t4.div")

MENU\n\t1.add\n\t2.sub\n\t3.mul\n\t4.div

In [15]:
len(r"\n")

2

In [16]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name,"is",age,"years old")

LAxman is 30 years old

In [18]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name,"is",age,"years old")
print(f"{name}")
print("{name}")

LAxman is 30 years old
LAxman
{name}

In [19]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name,"is",age,"years old")
print(f"{name} is {age} years old")
print("{name}")

LAxman is 30 years old
LAxman is 30 years old
{name}

In [20]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name,"is",age,"years old")
print(f"{name} is {age} years old")
print("%s is %s years old",(name, age))

LAxman is 30 years old
LAxman is 30 years old
%s is %s years old ('LAxman', 30)

In [21]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name,"is",age,"years old")
print(f"{name} is {age} years old")
print("%s is %s years old"%(name, age))

LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old

In [22]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name+" is "+age," years old")
print(name,"is",age,"years old")
print(f"{name} is {age} years old")
print("%s is %s years old"%(name, age))

TypeError: can only concatenate str (not "int") to str

In [24]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name+" is "+str(age)+" years old")
print(name,"is",age,"years old")
print(f"{name} is {age} years old")# template strings: f strings
print("%s is %s years old"%(name, age))# format specifiers

LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old

In [25]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name+" is "+str(age)+" years old")
print(name,"is",age,"years old")
print(f"{name} is {age} years old")# template strings: f strings
print("%s is %s years old"%(name, age))# format specifiers
print("{0} is {1} years old".format(name, age))

LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old

In [26]:
name="RAM"
age=28
#RAM is 28 years old.
name="LAxman"
age=30
#Laxman is 30 years old
print(name+" is "+str(age)+" years old")
print(name,"is",age,"years old")
print(f"{name} is {age} years old")# template strings: f strings
print("%s is %s years old"%(name, age))# format specifiers
print("{} is {} years old".format(name, age))

LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old
LAxman is 30 years old

In [28]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",profit,"Rupees profit")

becuase of Vibheeshana we got 1245.6879 Rupees profit

In [32]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:f} Rupees profit")
print("because of %s we got %s Rupees profit"%(customer, profit))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.687900 Rupees profit
because of Vibheeshana we got 1245.6879 Rupees profit

In [33]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:f} Rupees profit")
print("because of %s we got %s Rupees profit"%(customer, profit))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.687900 Rupees profit
because of Vibheeshana we got 1245.6879 Rupees profit

In [34]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:.2f} Rupees profit")
print("because of %s we got %s Rupees profit"%(customer, profit))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.6879 Rupees profit

In [35]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:.2f} Rupees profit")
print("because of %s we got %s Rupees profit"%(customer, round(profit,2)))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit

In [36]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:.2f} Rupees profit")
print("because of %s we got %f Rupees profit"%(customer, profit))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.687900 Rupees profit

In [37]:
customer="Vibheeshana"
profit=1245.6879
# because of vidheeshana we got 1245.69 Rupees profit.
print("becuase of",customer,"we got",round(profit,2),"Rupees profit")
print(f"because of {customer} we got {profit:.2f} Rupees profit")
print("because of %s we got %.2f Rupees profit"%(customer, profit))

becuase of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit
because of Vibheeshana we got 1245.69 Rupees profit

In [38]:
#%s,%f,%d,%r

In [39]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(w)

sfdsf
fdsf
	dsfds

In [40]:
w="sfdsf\nfdsf\n\tdsfds\t"
print("%r"%w)

'sfdsf\nfdsf\n\tdsfds\t'

In [41]:
w=r"sfdsf\nfdsf\n\tdsfds\t"
print(w)

sfdsf\nfdsf\n\tdsfds\t

In [42]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(r"w")

w

In [43]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(r"%s"%w)

sfdsf
fdsf
	dsfds

In [44]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(f"{w}")

sfdsf
fdsf
	dsfds

In [46]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(f"{w:r}")

ValueError: Unknown format code 'r' for object of type 'str'

In [47]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(f"{w:s}")

sfdsf
fdsf
	dsfds

In [48]:
a=12.3456
print(f"{a}")

12.3456

In [49]:
a=12.3456
print(f"{a:.2f}")

12.35

In [50]:
w="sfdsf\nfdsf\n\tdsfds\t"
print(f"{w:r}")

ValueError: Unknown format code 'r' for object of type 'str'

In [51]:
s=2639
print(bin(s))
print(f"{s:b}")

0b101001001111
101001001111

In [52]:
s=2639
print(bin(s))
print(f"{s:b}")
print("%b"%s)

0b101001001111
101001001111

ValueError: unsupported format character 'b' (0x62) at index 1

In [53]:
a=214
print(a)

214